{% load static %}

<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    {% block style-sheet %}
    <link rel="stylesheet" href="{% static 'css/home-style.css' %}">
    {% endblock %}
    {% block title %} <title>Le Blog</title> {% endblock %}
</head>
<body>
    <div id="body-contener">
        <div class="header">
            <div class="logo">
                <a href="{% url 'blog:home' %}">
                    <h1><span>JS</span>Blog</h1>
                </a>
            </div>

            <div class="menu">
                {% if user.is_authenticated %}
                    {% block menu %}
                        <a href="{% url 'blog:create' %}">Créer</a>
                    {% endblock %}
                <!-- <a href="#">Déconnexion</a> -->
                {% endif %}
            </div>
        </div>

        <div class="content">
            {% block body %}
                <!--   body contener     -->
            {% endblock %}
        </div>
    </div>
</body>
</html>